body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	color: white;
	overflow: hidden;
}

#infoBox {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(255, 255, 255, 0.15);
	border-radius: 0px 0px 10px 10px;
	padding: 10px 25px;
	border-left: 5px solid white;
	border-bottom: 5px solid white;
	border-right: 5px solid white;
}

#gameCanvas {
	width: 100%;
	height: 100%;
	position: relative;
}

#fireworks {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 9999;
}

.shape-image {
	position: absolute;
}

.shape-red {
	filter: hue-rotate(0deg);
}
.shape-blue {
	filter: hue-rotate(240deg);
}
.shape-green {
	filter: hue-rotate(120deg);
}
.shape-yellow {
	filter: hue-rotate(60deg) brightness(250);
}
.shape-purple {
	filter: hue-rotate(300deg);
}
